<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1">
			Blotter
		</span>
	</div>
</nav>



<!-- Body -->
<div class="container-fluid">

	<div class="row mt-2">
		<div class="col-md-6 search-section">
			<p>
				Search:
			</p>
			<div class="row text-center">
				<div class="col-md-5">
					<div class="d-flex">
						<input class="form-control" [(ngModel)]="searchBox"
							(ngModelChange)="onSearchChange($event,'text')" name="searchBox" id="filter-text-box"
							type="text" placeholder="Enter value" (input)="onFilterTextBoxChanged()"
							aria-label="default input example">
						<button type="submit" class="btn btn-success me-3" (click)="ongoFilter()"
							[disabled]="searchValue">Search</button>
					</div>
				</div>
				<div class="col-md-5">
					<div class="d-flex">
						<input class="form-control" [(ngModel)]="dateBox" name="dateBox" type="date"
							(input)="onFilterDateBoxChanged()" (ngModelChange)="onSearchChange($event,'date')"
							id="datePicker" placeholder="Default input" aria-label="default input example">
						<button type="submit" class="btn btn-success me-3" (click)="ongoFilter()"
							[disabled]="dateValue">Go</button>
					</div>
				</div>
				<div class="col-md-2">
					<button type="submit" (click)="resetSearchForm()" class="btn btn-secondary">Reset</button>
				</div>
			</div>

		</div>

		<div class="col-md-6 box-border">
			<p>
				Select the CCY Pair:
			</p>
			<div class="row text-center">
				<div class="col-md-4">
					<select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCCY1"
						name="selectedCCY1" (change)="onChange($event,'first')">
						<option selected>select</option>
						<option [value]="i.name" [disabled]="i.disable" *ngFor="let i of dropDownList">{{i.name}}
						</option>
					</select>

				</div>
				<div class="col-md-4">
					<select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCCY2"
						name="selectedCCY2" (change)="onChange($event,'second')">
						<option selected>select</option>
						<option [value]="i.name" [disabled]="i.disable" *ngFor="let i of dropDownList">{{i.name}}
						</option>
					</select>
				</div>
				<div class="col-md-4">
					<button type="submit" (click)="addNewRecord()" class="btn btn-success me-3">Add</button>
					<button type="submit" (click)="resetSelectedInput()" class="btn btn-secondary">Reset</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-12">
			<div class="d-flex justify-content-end">
				<button (click)="onBtExport()" type="submit" class="btn btn-info">
					Export as csv
				</button>
			</div>
		</div>
	</div>

	<br />
	<ag-grid-angular style="width: 100%; height: 400px" class="ag-theme-alpine" [rowData]="rowData"
		(cellValueChanged)="onCellValueChanged($event)" [getRowId]="getRowId" [readOnlyEdit]="true"
		(cellEditRequest)="onCellEditRequest($event)" [columnDefs]="colDefs" [excelStyles]="excelStyles"
		(gridReady)="onGridReady($event)"></ag-grid-angular>
</div>

<!-- Body -->